// 字體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    // BS5已設定fs-1至-6不會自適應， .h1 ~ .h6 預設行高則為 line-height: 1.2;，fw:500
    // fs-1 ~ .fs-6 的預設行高會是 line-height: 1.5; 
    h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 ,p{
        margin-bottom: 0;
        color: $dark;
    }
}
  
.font-mono{
    font-family: 'Roboto Mono', monospace;
}
*,*:before,*:after{
    box-sizing: border-box;
}
img{
    // .img-fluid 來讓圖片加入 max-width: 100% 和 height: auto;
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
}
.main {
    margin-left: 296px;
  }
