.mb-80{
    margin-bottom:  $spacer*5;  
  }
  .img-style{
    object-fit: cover
  }
  .active > .page-link{
    background: $success;
    color: $white !important;
  }
  .bg-gray-100{
    background: $gray-100 !important;
  }